# Scraping

In [1]:
# Dependencies
from bs4 import BeautifulSoup as bs
from splinter import Browser
import requests
import pandas as pd
import time

### NASA Mars News

In [14]:
# Define path
executable_path = {'executable_path': 'c:/bin/chromedriver.exe'}

In [3]:
# Instantiate a splinter browser
browser = Browser('chrome', **executable_path, headless=False)

# Define Url for the browser to launch
nasa_url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'
browser.visit(nasa_url)
time.sleep(2)

# HTML object
nasa_html = browser.html
# Parse HTML with BS
nasa_soup = bs(nasa_html, 'html.parser')
# Retrieve all elements that contain quotes information
content_title = nasa_soup.find_all('div', class_='content_title')
article_teaser = nasa_soup.find_all('div', class_='article_teaser_body')

# Shut the browser down when done!
browser.quit()

In [4]:
# Manually grabbing the text...(?)
news_title = content_title[1].text
news_p = article_teaser[0].text

### JPL Mars Space Images - Featured Image

In [31]:
# Instantiate a splinter browser
browser = Browser('chrome', **executable_path, headless=False)

# URL of page to be scraped
jpl_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(jpl_url)
time.sleep(2)

# HTML object
jpl_html = browser.html
# Parse HTML with BS
jpl_soup = bs(jpl_html, 'html.parser')
# Retrieve img path
img_path = jpl_soup.find_all('img')[3]['src']



### I CAN'T FIGURE OUT ### NOTHING WORKS ###
# Click the imgae to go to img page
# browser.click_link_by_partial_text('thumb')

# browser.click_link_by_href(img_path)
# browser.attach_file('img', img_path)
# stackoverflow = browser.find_element_by_xpath(img_path).click()

# Can I just skip the first url



# Shut the browser down when done!
browser.quit()

AttributeError: 'WebDriver' object has no attribute 'find_element_by_xpath'

In [25]:
img_url = img_path
print(img_url)

/spaceimages/images/wallpaper/PIA24039-640x350.jpg

In [ ]:
# Grabbed the URL
featured_image_url =

### Mars Facts

In [86]:
# Automatically scrape any tabular data from a page w pandas
mars_url = 'https://space-facts.com/mars/'
tables = pd.read_html(mars_url)

In [87]:
# Fishing out wanted table, and transpose it
# df = tables[0].T
# df.head()

,0,1,2,3,4,5,6,7,8
0,Equatorial Diameter:,Polar Diameter:,Mass:,Moons:,Orbit Distance:,Orbit Period:,Surface Temperature:,First Record:,Recorded By:
1,"6,792 km","6,752 km",6.39 × 10^23 kg (0.11 Earths),2 (Phobos & Deimos),"227,943,824 km (1.38 AU)",687 days (1.9 years),-87 to -5 °C,2nd millennium BC,Egyptian astronomers

In [70]:
# # Raneme the column
# df = df.rename(columns={0: 'Equatorial Diamete',
#                        1: 'Polar Diameter',
#                        2: 'Mass',
#                        3: 'Moons',
#                        4: 'Orbit Distance',
#                        5: 'Orbit Period',
#                        6: 'Surface Temperature',
#                        7: 'First Record',
#                        8: 'Recorded By'})

In [72]:
# # Removed the first row
# df = df.iloc[1:] 
# df

,Equatorial Diamete,Polar Diameter,Mass,Moons,Orbit Distance,Orbit Period,Surface Temperature,First Record,Recorded By
1,"6,792 km","6,752 km",6.39 × 10^23 kg (0.11 Earths),2 (Phobos & Deimos),"227,943,824 km (1.38 AU)",687 days (1.9 years),-87 to -5 °C,2nd millennium BC,Egyptian astronomers

In [121]:
# Fishing out wanted table, and transpose it
df = tables[0]

In [122]:
# Raneme the column
df = df.rename(columns={0: 'Description',
                       1: 'Mars'})

In [123]:
# Set the index to the `abb` column
df.set_index('Description', inplace=True)
df

                                               Mars
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [124]:
# Generate HTML tables from DataFrames
html_table = df.to_html()

In [125]:
# Convert df to html
df.to_html('mars_table.html')

# Mars Hemispheres

In [128]:
# Instantiate a splinter browser
browser = Browser('chrome', **executable_path, headless=False)

# URL of page to be scraped
mars_hem_url = 'https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced'
browser.visit(mars_hem_url)
time.sleep(2)

# HTML object
mars_hem_html = browser.html
# Parse HTML with BS
mars_hem_soup = bs(mars_hem_html, 'html.parser')
# Retrieve img path
img_dwnload = mars_hem_soup.find('div', class_='downloads')
a = img_dwnload.a['href']

print(a)

# Shut the browser down when done!
browser.quit()

https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg

In [ ]:
hemisphere_dict = {}

In [ ]:
hemisphere_dict['img_url'] =
hemisphere_dict['title'] =

In [ ]:
hemisphere_image_urls = []